on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - uses: actions/setup-node@v3
        with:
          node-version: "22"

      - run: |
          cd ui
          npm install

      - run: |
          chmod +x build.sh
          IS_PAGES=1 ./build.sh

      - run: |
          tree ui/build

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./ui/build
          publish_branch: build
          force_orphan: true
